body {
	margin: 0 4em 10% 4em;
	text-align: center;
}

h1 {
    margin-top: 2em;
}

h2 {
    margin: 0.25em 0;
}

hr {
    margin: 1.5em 0;
}

.hidden {
	display: none;
	visibility: hidden;
}

#Books a {
	display: inline-block;
	padding: 0.375em 0.5em;
	border-radius: 4px;
	margin: 0.25em 0.125em;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
	background-color: #00375e;
}


#Chapters a{
    font-size: 1.0em;
    width: 1.75em;
    display: inline-block;
    padding: 0.375em 0.5em;
    border-radius: 4px;
    margin: 0.25em 0.125em;
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;
    background-color: #00375e;
}

#Verses {
    display: flex;
    flex-direction: column;
}